<h2 class="page-title"><%= book.title %></h2>
<img height="150" width="100" src="<%= book.coverImagePath %>">
<div>Autor: <%= book.author.name %></div>
<div>Fecha de Publicación: <%= book.publishDate.toLocaleDateString() %></div>
<div>Cantidad de Páginas: <%= book.pageCount %></div>
<div>Descripción: <%= book.description %></div>
<a href="/books/<%= book.id %>/edit">Editar</a>
<%- include('../partials/deleteForm.ejs', {url: `/books/${book.id}`}) %>
<a href="/authors/<%= book.author %>">Ver autor</a>